<!DOCTYPE html>
<html lang="en" >
	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
		<!-- Latest compiled and minified Locales -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>


		<script>
		
		</script>

		<style type="text/css">
		.fixed-table-container {
			border-style:none;
		}
		.pull-right {
		    float: right!important;
		}
		.glyphicon-th:before {
		    content: "\e011";
		}
		.icon-th{
			
		}
		.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
		    background-color: #fff;
		}
		.btn-default, .btn-default, .btn-default, .btn-default.active, .open>.dropdown-toggle.btn-default {
		    background-color: #fff;
		} 

			/*.table td, .table th { text-align: left; }*/
	
		
		
		</style>

	</head>
	<body>
		<div class="container">
				<ul class="nav nav-pills">
					<li class="nav-item">
						<a class="nav-link active" href="/index">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link"  href="#">Features</a>
					</li>
					<li>
						<a class="nav-link" href="#">Contact</a>
					</li>
					<li>
						<a class="nav-link disable" href="#">Disabled</a>
					</li>
				</ul>
			</br>		
			<div class="starter-template">
					<h1 class="uk-heading-large">CloudTab</h1>
					<p class="lead">Welcome to CloudTab, A simple CMDB</p>
			</div>
			</br>
			::before
					<table id="table" class="table table-sm table-responsive table-no-bordered" data-sort-name="name" data-sort-order="name" data-toggle="table" data-show-columns="true">
						<thead>
								<tr>
									<th style data-field="id" tabindex="0">
									<div class="th-inner sortable both">
									ID
									</div>
									</th>
									<th style data-field="name" tabindex="0">
									<div class="th-inner sortable both desc">
									Name
									</th>
									</div>
									<th style data-field="func" tabindex="0">
									<div class="th-inner sortable both">
									Function
									</th>
									</div>
									<th >SerialNumber</th>
									<th >AssetCode</th>
									<th >Model</th>
									<th >CPU</th>
									<th >RAM</th>
									<th >Room</th>
									<th >Building</th>
									<th >Rack</th>
									<th>Remarks</th>
									<th>Status</th>

								</tr>
						</thead>
					{{range .}}
						<tbody>
							<tr>
								<td >
									<a href="/details/{{.ID.Hex}}">
									{{.ID.Hex}}
									</a>
								</td>
								<td>
									{{.CMDBName}}
								</td>
								<td>
									{{.Function}}
								</td>
								<td>
									{{.SerialNumber}}
								</td>
							</tr>
						</tbody>
					{{end}}
					</table>
					::after
			</br>

			<div class="row">

				<div class="col-6 col-md-4">
					<form action="/send" method="POST" accept-charset="UTF-8" novalidate>
						<input id="CMDBName" placeholder="Enter your CMDB ServerName" type="text" name="CMDBName" class="form-control">
						<input  id="Function" placeholder="Enter your Function"  type="text" name="Function" class="form-control">
						<input id="SerialNumber" placeholder="Enter your SerialNumber" type="text" name="SerialNumber" class="form-control">
						<input class="btn btn-lg btn-primary" type="submit" value="Register">
					</form>
					</br>
				</div>
				<div class="col-6 col-md-4">

					<form action="/delete" method="POST" accept-charset="UTF-8" novalidate>
						<input id="id" placeholder="Enter ID for Deletion" type="text" name="id" class="form-control">
						<input class="btn btn-lg btn-danger" type="submit" value="Delete">
					</form>
					</br>
				</div>

			</div>

			<footer class="footer">
	      		<div class="container">
	        		<span class="text-muted">Made by Somebody.</span>
	      		</div>
   			</footer>


		</div>
	</body>
</html>
