<!DOCTYPE html>
<html lang="en" >
	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css"> -->
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		
		<style type="text/css">

		.table {
			    margin-top: 1rem;
		}
		body {
			font-size: 12px;
		}
		.btn {
			font-size: 12px;
		}
		.dropdown-menu{
		    font-size: 12px;
		}
		.form-control {
			font-size: 12px;
		}
		.hidden {
			display: none;
		}
		.novisibility{
			display: none;
		}

		th {
			cursor:n-resize;
		}
		</style>

		<script type="text/javascript" src="https://nightly.datatables.net/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="https://nightly.datatables.net/js/dataTables.bootstrap4.min.js"></script>
		<script type="text/javascript" src="https://nightly.datatables.net/buttons/js/dataTables.buttons.min.js"></script>
		<script type="text/javascript" src="https://nightly.datatables.net/buttons/js/buttons.bootstrap4.min.js"></script>
		<script type="text/javascript" src="https://nightly.datatables.net/buttons/js/buttons.colVis.min.js"></script>
		<script type="text/javascript" src="https://nightly.datatables.net/buttons/js/buttons.html5.min.js"></script>
		<script type="text/javascript" src="https://nightly.datatables.net/responsive/js/dataTables.responsive.min.js"></script>
		<script type="text/javascript" src="https://nightly.datatables.net/responsive/js/responsive.bootstrap.min.js"></script>

		<script type="text/javascript">
		$(document).ready(function(){
			 $('#myTable').DataTable({
				paging: true
			});
		});	
		</script>	

		<script type="text/javascript">
		$(document).ready(function(){
		$("button[name='hide']").click(function(e) {
		 if($(".hidden").css("display") != "none") {
		  $(".hidden").hide();
		  $(".hidden").css("display","none");
		 } else {
		  $(".hidden").show();
		  $(".hidden").css("display","table-cell");
		 }
		});
		});	
		</script>


	

	</head>

	<body>
		<div class="container">
				<ul class="nav">
					<li class="nav-item">
						<a class="nav-link active" href="/index">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link"  href="#">Features</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">Disabled</a>
					</li>
				</ul>
			</br>		
			<div class="starter-template">
					<h1 class="uk-heading-large">CloudTab</h1>
					<p class="lead">Welcome to CloudTab, A simple CMDB</p>
			</div>
			</br>
			<!-- <div class="row table-responsive"> -->
			<table class="table table-hover" id="myTable">
				<thead>
						<tr>
							<th class="novisibility">ID</th>
							<th >Name</th>
							<th >Function</th>
							<th class="hidden">SerialNumber</th>
							<th >AssetCode</th>
							<th class="hidden">Model</th>
							<th class="hidden">CPU</th>
							<th class="hidden">RAM</th>
							<th class="hidden">Room</th>
							<th class="hidden">Building</th>
							<th class="hidden">Rack</th>
							<th >Remarks</th>
							<th >Status</th>

						</tr>
				</thead>
				

				<tbody>
				{{range .}}
					<tr>

						<td class="novisibility">
							<a href="/details/{{.ID.Hex}}">
							{{.ID.Hex}}
							</a>
						</td>
						<td>
							<a href="/details/{{.ID.Hex}}">
							{{.CMDBName}}
							</a>
						</td>
						<td>
							{{.Function}}
						</td>
						<td class="hidden">
							{{.SerialNumber}}
						</td>
						<td>
							{{.AssetCode}}
						</td>
						<td class="hidden">
							{{.Model}}
						</td>
						<td class="hidden">
							{{.CPU}}
						</td>
						<td class="hidden">
							{{.RAM}}
						</td>
						<td class="hidden">
							{{.Room}}
						</td>
						<td class="hidden">
							{{.Building}}
						</td>
						<td class="hidden">
							{{.Rack}}
						</td>
						<td>
							{{.Remarks}}
						</td>
						<td >
							{{.Status}}
						</td>
					</tr>
				{{end}}
				</tbody>
			
			</table>
			</br>
			</br>
			<div class="row">
			<button class="btn btn-outline-secondary" name=hide id="hide">Switch View</button>
			</div>
			</br>
			</br>

			<div class="row">
				<p class="lead">Register or Delete Asset(s) </p>
			</div>
			</br>
			
			<div class="row">
			<form action="/send" method="POST" accept-charset="UTF-8" novalidate class="form-inline">
				<label class="sr-only" for="inlineFormInput">CMDBName</label>
				<input id="CMDBName" placeholder="CMDB ServerName" type="text" name="CMDBName" class="form-control mb-2 mr-sm-2 mb-sm-0">
				<label class="sr-only" for="inlineFormInput">Function</label>
				<input  id="Function" placeholder="Function"  type="text" name="Function" class="form-control mb-2 mr-sm-2 mb-sm-0">
				<label class="sr-only" for="inlineFormInput">SerialNumber</label>
				<input id="SerialNumber" placeholder="SerialNumber" type="text" name="SerialNumber" class="form-control mb-2 mr-sm-2 mb-sm-0">
				<button class="btn btn-outline-primary" type="submit">Submit</button>
			</form>
			</div>
			</br>
			<div class="row">
			<form action="/delete" method="POST" accept-charset="UTF-8" novalidate class="form-inline">
				<label class="sr-only" for="inlineFormInput">id</label>
				<input id="id" placeholder="ID for Deletion" type="text" name="id" class="form-control mb-2 mr-sm-2 mb-sm-0">
				<button class="btn btn-outline-danger" type="submit">Delete</button>
			</form>
			</div>
			</br>
			<footer class="footer">
	      		<div class="container">
	        		<span class="text-muted">Made by Somebody.</span>
	      		</div>
   			</footer>
		</div>
	</body>
</html>
