<!DOCTYPE html>
<html lang="en" >
	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css"> -->
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		
		<style type="text/css">

		.table {
			    margin-top: 1rem;
		}
		body {
			font-size: 12px;
		}
		.btn {
			font-size: 12px;
		}
		.dropdown-menu{
		    font-size: 12px;
		}
		.form-control {
			font-size: 12px;
		}
		.hidden {
			font-size: 12px;
		}
		.tobehide {
			display: none;
		}
		th {
			cursor:n-resize;
		}
		legend {
			font-size: 18px;
		}
		</style>

		<!-- Javascript used to add dynamically network fields -->
		<script type="text/javascript">
		var room = 1;
		var counter = 0;
		function networks_fields() {
			room++;
			var objTo = document.getElementById('networks_fields')
			var divtest = document.createElement("div");
			divtest.setAttribute("class", "form-inline removeclass"+room);
			var rdiv = 'removeclass'+room;
			divtest.innerHTML = '<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" name="ipdyn" id="ipdyn" value="toto" placeholder="ip"><input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" name="pp" id="patch" value="patch" placeholder="patch"><input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" name="sw" id="switch" value="switch" placeholder="switch"><input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" name="vlan" id="vlan" value="vlan" placeholder="vlan"><input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" name="mac" id="mac" value="mac" placeholder="mac"><button class="btn btn-outline-danger" type="button" onclick="remove_networks_fields('+ room +');">-</button>';
			counter++;
			objTo.appendChild(divtest)
		}
		function remove_networks_fields(rid) {
		   $('.removeclass'+rid).remove();
		}

		</script>




	</head>

	<body>
		<div class="container">
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link active" href="/index">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  href="/api" target="_blank">Api</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Contact</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Disabled</a>
				</li>
			</ul>
			</br>

			<div class="col-md-4" style="text-align: left;" >
			<h2>Update Page</h2>
			</br>
			</div>
			<form id="myForm" action="/sendnetupdate/{{.ID.Hex}}" method="POST" accept-charset="UTF-8" >

			

				<div class="col-md-12" style="text-align: left;" >
					<fieldset>
						<legend>Add Network</legend>
						<div id="networks_fields" class="form-inline">
						</div>
						<div class="form-group">
							<button class="btn btn-outline-primary add-more" id="add-more" type="button" onclick="networks_fields();">+</button>
						</div>
						<div id="networks_fields" class="form-inline">
						</div>
						</br>
					</fieldset>
				</div>

				<div class="col-md-8" style="text-align: left;" >
				<button class="btn btn-outline-primary" type="submit">Update</button>
				<button class="btn btn-outline-danger" type="reset">Reset</button>
			</div>
			</br>

			</form>

			<div class="col-md-8" style="text-align: left;" >
				<fieldset >
				<legend>Server Identification</legend>
				<a href="/details/{{.ID.Hex}}">ID: {{.ID.Hex}} </a></br>
				<a href="/details/{{.ID.Hex}}">Name: {{.CMDBName}}</a></br>
					
				</fieldset>
				</br>
			</div>

			<div class="col-md-10" style="text-align: left;" >
				<h4>
					Networks
				</h4>

				<table id="netsumary" style="width:100%">
				<tr>
					<th> IP </th>
					<th> Patch Panel </th>
					<th> Server Port </th>
					<th> Switch </th>
					<th> Vlan </th>
					<th> Mac </th>
				</tr>
				{{range .Networking}}
				<tr>
					<td>
						{{.IpAddr}}
					</td>
					<td>
						{{.PatchPanel}}
					</td>
					<td>
						{{.ServerPort}}
					</td>
					<td>
						{{.Switch}}
					</td>
					<td>
						{{.Vlan}}
					</td>
					<td>
						{{.MAC}}
					</td>
				</tr>
				{{end}}
				</table>
				</br>
			</div>
			
			<div class="col-md-8" style="text-align: left;" >
				Created at: {{.InsertTime}}</br>
				Updated at: {{.UpdateTime}}</br>
				</br>
			</div>

			<div class="col-md-8" style="text-align: left;" >
				<a class="btn btn-outline-secondary" href="/update/{{.ID.Hex}}" role="button">Go Back</a>
			</div>


			</div>
			</br>
			<footer class="footer">
	      		<div class="container">
	        		<span class="text-muted">Made by Somebody.</span>
	      		</div>
   			</footer>
		</div>
	</body>