<!DOCTYPE html>
<html lang="en" >
	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css"> -->
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		
		<style type="text/css">

		.table {
			    margin-top: 1rem;
		}
		body {
			font-size: 12px;
		}
		.btn {
			font-size: 12px;
		}
		.dropdown-menu{
		    font-size: 12px;
		}
		.form-control {
			font-size: 12px;
		}
		.hidden {
			font-size: 12px;
		}
		.tobehide {
			display: none;
		}
		th {
			cursor:n-resize;
		}
		</style>
	</head>

	<body>
		<div class="container">
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link active" href="/index">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  href="#">Features</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Contact</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Disabled</a>
				</li>
			</ul>
			</br>
			<div class="col-md-6" style="text-align: left;" >
			<h2>Update Page</h2>
			</div>
			</br>
			<footer class="footer">
	      		<div class="container">
	        		<span class="text-muted">Made by Somebody.</span>
	      		</div>
   			</footer>
		</div>
	</body>